@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <label>Customer Name:</label>
                </div>
                <div class="col-lg-8">
                    <label>Hardik Gondalia</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <label>Appointment ID:</label>
                </div>
                <div class="col-lg-8">
                    <label>24</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <label>Cash Number:</label>
                </div>
                <div class="col-lg-8">
                    <label>00004</label>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <label>Previous Balance:</label>
        </div>
        <div class="col-lg-8">
            <label>0 INR</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label>Current Charge:</label>
        </div>
        <div class="col-lg-8">
            <label>500 INR</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label>Opening Balance:</label>
        </div>
        <div class="col-lg-8">
            <label>500 INR</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label>Total Paid:</label>
        </div>
        <div class="col-lg-8">
            <label>400 INR</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label>Closing Balance:</label>
        </div>
        <div class="col-lg-8">
            <label>-100 INR</label>
        </div>
    </div>
</div>
