@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h3>Teacher/Staff Information</h3>
    </div>
    <div class="col-lg-12">
        Referrer info
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label>Teacher/Staff:</label>
            <select class="form-control">
                <option value="">Select Teacher</option>
                <option value="1">Teacher1</option>
                <option value="2">Teacher2</option>
                <option value="3">Teacher3</option>
                <option value="4">Teacher4</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="col-lg-12">
        Student Program (Please check all that apply)
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">IEP</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">504</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">SST</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">RSP</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">SDC</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">SH</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">EL</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Foster youth</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Homeless</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">R180</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Mainstream</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">SARB/SART, Habitually</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">On Probation</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">On Behaviour Contract</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Unknown</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Returned from expulsion</label>
        </div>
    </div>
    <hr />
    <div class="col-lg-12">
        <h3>Behaviour Referral</h3>
    </div>
    <div class="col-lg-12">
        Please choose the type of referral. If the referral is just informational for the Reven Way documentation of minor behaviour either choose Minor behaviour report and log the information with administration or choose teacher/classroom discipline entry.
    </div>
    <div class="col-lg-12">
        Referral Form
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Teacher/staff classroom discipline entry(infomational)</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Lunch Detention</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Afterschhol Detention</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Minor Behavior</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Major Behavior Referral</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Postivie Behavior Shout Out (Please fill in the field after interventions on the last page and fill in your response)</label>
        </div>
    </div>

    <div class="col-lg-12">
        Minor Behavior Reason for Detention (Check all that apply)
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Class or School Disruption</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Disrespect</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">PDA</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Dress Code</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Water balloon, squirt gun, permanent marker</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Violation of closed campus</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Refusal to follow directions of person in authority</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Eating gum in class</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Horseplay</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Profanity</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Cheating</label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="checkbox">
            <label><input type="checkbox" value="">Failure to wear/display ID</label>
        </div>
    </div>
</div>